# Mac OS X files
.DS_Store
.Thumbs.db
.Trashes
._*
.Spotlight-V100

# Sublime project files
*.sublime-project
*.sublime-workspace

# Scons stuff
*.elf
*.o
*.hex
.sconsign.dblite

# MPLAB X Stuff
Navigation/navigation_pic24_pwm_time_slice/
Navigation/navigation_pic24_pwm_test/
Navigation/navigation_pic24_pwm/
*.o
*.o
*.o
Navigation/navigation_pic24/build/default/production/_ext/957557178/pic24_util.o
*.hex
Navigation/test.c