<!-- Deliverables -->
<section id="deliverables">
	<h1>Senior Design Delieverables</h1>
    <!-- Design I -->
    <div id='designI'>
        <h4>Design I</h4>
        <!-- Product Specification -->
        <div class='file'>
            <div class='filename'>Product Specifications</div>
            <div class='download'>
                <a href='files/ProductSpecFinal.pdf'>Final</a>
                <a href='files/ProductSpecDraft.pdf'>Draft</a>
            </div>
        </div>
        <!-- Product Statement -->
        <div class='file'>
            <div class='filename'>Product Statement</div>
            <div class='download'>
                <a href='files/ProblemStatementFinal.pdf'>Final</a>
                <a href='files/ProblemStatementDraft.pdf'>Draft</a>
            </div>
        </div>
        <!-- Design Constraint -->
        <div class='file'>
            <div class='filename'>Design Constraint</div>
            <div class='download'>
                <a class='inactive'>Final</a>
                <a href='files/DesignConstraintDraft.pdf'>Draft</a>
            </div>
        </div>
</section>
