<!-- Home -->
<section id="home">
    <section id='home-left'>
      <h1>Welcome to MSU SECON 2015 </h1>
        <p>
           IEEE SouthEastCon is the annual IEEE Region 3 Technical, Professional, and Student Conference. It brings together Computer Science, Electrical and
           Computer Engineering professions, faculty and students to share the latest information through technical sessions, tutorials and exhibits. It is the
           most influential conference in Region 3 for promoting awareness of the technical contributions made by our profession to the advancement of
           engineering science and to the community.
        </p>
    </section>
    <section id='home-right'>
        <h3>SECON Links</h3>
        <div><a href="https://www.facebook.com/2015ieeesoutheastcon">SECON 2015 Facebook</a></div>
        <div><a href="http://www.ieee.org/index.html">IEEE</a></div>
        <div><a href="http://msstate.edu/">MSU</a></div>
        <div><a href="http://www.ece.msstate.edu/">MSU ECE Department</a></div>
        <div><a href="https://sites.google.com/site/msueceseniordesign/">ECE Senior Design</a></div>
    </section>
    <section id='home-bottom'>
      <h3>Latest and Greatest</h3>
      <div class='latest'>
        <iframe width="700" height="393.75" src="https://www.youtube.com/embed/7GHeTlrg33c" frameborder="0" allowfullscreen></iframe>
      </div>
      <h3>Competition Overview</h3>
      <p>
        The theme of SECON 2015 is road tripping. Competitors must design a robot that can navigate a course and play four commonly found games on road trips.
        The robot starts upon a start light, and when the light turns of the round begins. The robot must follow a white line to four different boxes and
        in each box there is a game. The robot must play Simon for fifteen seconds correctly, draw "IEEE" on an Etch-a-Sketch, twist one row of a Rubiks
        Cube 180&deg, and pick up exactly one card from a deck of cards. After all of the games have been completed the robot must then cross a finish line.
        These tasks must be completed in under five minutes and they must be completed autonomously.
      </p>
      <h3>Sample Course</h3>
      <div class='sample-course'></div>
      <h3>Scoring System</h3>
      <div class="table-div">
        <table>
    			<tr>
    				<th>Action</th>
    				<th>Points</th>
            <th>Total</th>
    			</tr>
          <tr>
            <td>LED Shut Off</td>
            <td>100 on start</td>
            <td>100</td>
          </tr>
          <tr>
            <td>Navigation</td>
            <td>10 per station</td>
            <td>40</td>
          </tr>
          <tr>
            <td>Rubiks Cube</td>
            <td>50 on twist</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Playing Card</td>
            <td>50 on pickup</td>
            <td>50</td>
          </tr>
          <tr>
            <td>Simon</td>
            <td>10 per second</td>
            <td>150</td>
          </tr>
          <tr>
            <td>Etch-a-Sketch</td>
            <td>50 per letter</td>
            <td>200</td>
          </tr>
          <tr>
    				<th>Total</th>
    				<th></th>
            <th>590</th>
    			</tr>
        </table>
      </div>
    </section>
</section>
