<!-- Home -->
<section id="home">
    <h1>Welcome to MSU SECON 2015 </h1>
    <section id='home-left'> 
        <p>
           IEEE SouthEastCon is the annual IEEE Region 3 Technical, Professional, and Student Conference. It brings together Computer Science, Electrical and Computer Engineering professions, faculty and students to share the latest information through technical sessions, tutorials and exhibits. It is the most influential conference in Region 3 for promoting awareness of the technical contributions made by our profession to the advancement of engineering science and to the community.
        </p>
    </section>
    <section id='home-right'>
        <h3>SECON Links</h3>
        <div><a href="https://www.facebook.com/2015ieeesoutheastcon">SECON 2015 Facebook</a></div>
        <div><a href="http://www.ieee.org/index.html">IEEE</a></div>
        <div><a href="http://msstate.edu/">MSU</a></div>
        <div><a href="http://www.ece.msstate.edu/">MSU ECE Department</a></div>
        <div><a href="https://sites.google.com/site/msueceseniordesign/">ECE Senior Design</a></div>
    </section>
    <!-- Might do a blog here later -->
</section>