<!-- Media -->
<section id="media">
	<h1>SECON Media</h1>
    <div class='galleria'>
        <a href="http://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Biandintz_eta_zaldiak_-_modified2.jpg/800px-Biandintz_eta_zaldiak_-_modified2.jpg">
            <img
                src="http://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Biandintz_eta_zaldiak_-_modified2.jpg/100px-Biandintz_eta_zaldiak_-_modified2.jpg",
                data-big="http://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Biandintz_eta_zaldiak_-_modified2.jpg/1280px-Biandintz_eta_zaldiak_-_modified2.jpg"
                data-title="Biandintz eta zaldiak"
                data-description="Horses on Bianditz mountain, in Navarre, Spain."
            >
        </a>
        <a href="https://www.youtube.com/watch?v=r4fMHrR1MGI&list=UU404kzJOMv2xgDb6y3G8H2w">
            <img src="http://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Bowling_Balls_Beach_2_edit.jpg/100px-Bowling_Balls_Beach_2_edit.jpg"
            data-title="Rubiks Cube Demo"
            data-description="Demonstration of the Rubiks Cube spinner integrated with the 3D printed universal acceptor."
            >
        </a>
    </div>
</section>
